<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:x-transition="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen items-center justify-center bg-gray-900">

<div th:insert="fragments/general.html :: navbar"></div>

<div class="transition-colors duration-300 shadow-lg w-4/12">
    <div class="container mx-auto">
        <div class="bg-indigo-900 shadow rounded-2xl p-6">
            <h1 class="text-xl font-semibold mb-4 text-white">Book information</h1>
            <p class="text-gray-300 mb-6">Update book details</p>
            <form action="/update" method="get">
                <input type="hidden" name="code" th:value="${code}">
                <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400 mb-4">
                    <select class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
                            id="field-select" name="field"
                            >
                        <option th:value="${tableField[0]}" th:text="Title"></option>
                        <option th:value="${tableField[1]}" th:text="Description"></option>
                        <option th:value="${tableField[2]}" th:text="Author"></option>
                        <option th:value="${tableField[3]}" th:text="Category"></option>
                    </select>
                </div>
                <button type="submit" class="w-1/6 rounded-2xl border-b-4 border-b-blue-600 bg-indigo-700 py-3 px-3 font-bold text-white hover:bg-blue-400 active:translate-y-[0.125rem] active:border-b-blue-400">
                    Next
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>