<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:x-transition="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

</head>
<body class="flex flex-col min-h-screen items-center justify-center bg-gray-900">

<div th:insert="fragments/general.html :: navbar"></div>

<div class="transition-colors duration-300 shadow-lg">
    <div class="container mx-auto">
        <div class="bg-indigo-900 shadow rounded-2xl p-6">
            <h1 class="text-xl font-semibold mb-4 text-white">Book information</h1>
            <p class="text-gray-300 mb-6">Update book details</p>
            <input type="hidden" id="code" name="code" th:value="${code}">
            <input type="hidden" id="field" name="field" th:value="${field}">
            <div th:if='${!field.equals("category")}' class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400">
                    <input type="text" placeholder="New value"
                           class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
                           id="fieldValue">
                </div>
            </div>
            <div th:if='${field.equals("category")}'
                 class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400 mb-4">
                <label>
                    <select class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
                            id="fieldValueSelect">
                        <option th:each="categOpt : ${categorySelect}"
                                th:value="${categOpt}" th:text="${categOpt}"
                        ></option>
                    </select>
                </label>
            </div>
            <button type="button" id="update-book"
                    class="rounded-2xl border-b-4 border-b-blue-600 bg-indigo-700 py-3 px-3 font-bold text-white hover:bg-blue-400 active:translate-y-[0.125rem] active:border-b-blue-400">
                Update
            </button>
        </div>
    </div>
</div>

<script>
    $("#update-book").click(function () {

        var selectedValue = $("#fieldValueSelect").val();
        $("#selected-field").val(selectedValue);
        var field = $("#field").val();
        var code = $("#code").val();

        var value = selectedValue;
        if (selectedValue == null) {
            value = $("#fieldValue").val();
        }
        $.ajax({
            url: "/update/save/" + code + "/" + field + "/" + value,
            method: "get",
            success: window.location.href = "/1"
        });
    });
</script>

</body>
</html>