<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:x-transition="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Borrow book</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen items-center justify-center bg-gray-900">

<div th:insert="fragments/general.html :: navbar"></div>

<div class="transition-colors duration-300 shadow-lg">
    <div class="container mx-auto">
        <div class="bg-indigo-900 shadow rounded-2xl p-6">
            <h1 class="text-xl font-semibold mb-4 text-white">Book information</h1>
            <p class="text-gray-300 mb-6">How many days you want to keep the book?</p>
            <form method="POST" action="/borrow">
                <input type="hidden" name="bookId" th:value="${bookId}">
                <div class="grid grid-rows-1 md:grid-rows-2 mb-4">
                    <label class="text-white" for="expectedReturnDate">Expected return date:</label>
                    <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400">
                        <input type="date" id="expectedReturnDate" name="expectedReturnDate" class="my-3 w-full border-none bg-transparent outline-none focus:outline-none" />
                    </div>
<!--                    <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400">-->
<!--                        <input type="text" placeholder="Author"-->
<!--                               class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"-->
<!--                               name="author">-->
<!--                    </div>-->
                </div>
<!--                <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400 mb-4">-->
<!--                    <select class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"-->
<!--                            name="category">-->
<!--                        <option th:each="categOpt : ${categorySelect}"-->
<!--                                th:value="${categOpt}" th:text="${categOpt}"-->
<!--                        ></option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400 mb-4">-->
<!--                    <input type="text" placeholder="Description"-->
<!--                           class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"-->
<!--                           name="description">-->
<!--                </div>-->
                <button type="submit" id="borrow-book"
                        class="rounded-2xl border-b-4 border-b-blue-600 bg-indigo-700 py-3 px-3 font-bold text-white hover:bg-blue-400 active:translate-y-[0.125rem] active:border-b-blue-400">
                    Insert
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>